@import "tailwindcss";
@font-face{
  font-family: CedarvilleCursive;
  src: url("../public/fonts/CedarvilleCursive-Regular.ttf");
}
@theme{
  --font-CedarvilleCursive: CedarvilleCursive, "sans-serif";
}
/* Hide scrollbar globally (default behavior) */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

/* Custom scrollbar for job listings */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Set scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(193, 54, 149); /* Pink scrollbar thumb */
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

.custom-scrollbar {
  scrollbar-width: thin; /* Firefox specific: thin scrollbar */
  scrollbar-color:rgb(193, 54, 149) transparent;
}
/* styles/global.css */
.input-style {
  width: 90%; /* Reduce the width of the input */
  height: 50px; /* Set a fixed height to make the boxes smaller */
  padding: 8px; /* Adjust padding for smaller fields */
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  outline: none;
  color: white;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px; /* Add a gap between input fields */
}
.input-style:focus {
  border-color: #3c0c81; /* Pink border on focus */
  background: rgba(255, 255, 255, 0.2);
}
.input-style::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@keyframes gradientShift {
  0% {
    background: linear-gradient(to right, #000000, #420C69);
  }
  50% {
    background: linear-gradient(to right, #420C69, #000000);
  }
  100% {
    background: linear-gradient(to right, #000000, #420C69);
  }
}



@tailwind utilities;
